:root {
    --branding-color:#6c63ff;
    --heading-fontstyle:"Playfair Display", serif;
    --second-heading-fontstyle: "Poppins", sans-serif;
    --secondary-color:#f9f7;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-fontstyle);
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 96px;
}
h2{
    font-size: 64px;
}
p{
    line-height: 30px;
}
body {
  font-family: var(--second-heading-fontstyle);
  text-align: center;
}
.hero {
  background-color: var(--secondary-color);
  
  padding: 150px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  font-family: var(--heading-fontstyle);
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--second-heading-fontstyle);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
h4 {
  text-align: center;
  
  color: white;
  font-size: 35px;
}
h4 a {
  color: var(--branding-color);
  text-align: center;
}
.project-info{
    Margin: 120px 5px 0 50px;
}
.btn-branding2{
    border: 1px solid var(--branding-color);
  
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.container{
    background: #1a0577;
}
