:root {
  --branding-color: #6c63ff;
  --heading-fontstyle: "Playfair Display", serif;
  --second-heading-fontstyle: "Poppins", sans-serif;
  --secondary-color: #f9f7;
}
.logo{
  max-height: 40px;
}
.active{
  color: var(--branding-color) !important;
}
.nav-item{
  padding: 0 15px;
  line-height: 14px;
 
  
}
.navbar-brand{
  margin-left: 20px;
}
.toplink a {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 18px;
  text-align: start;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-fontstyle);
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  line-height: 30px;
}
body {
  font-family: var(--second-heading-fontstyle);
  text-align: center;
  margin-bottom: 10px;
}
.hero {
  background-color: var(--secondary-color);

  padding: 40px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  font-family: var(--heading-fontstyle);
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--second-heading-fontstyle);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-info {
  margin: 50px 5px 0 50px;
  line-height: 35px;
  font-weight: 700;
  text-align: justify;
}
.btn-branding2 {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.middle-page {
  background: var(--branding-color);
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  color: aquamarine;
  padding: 10px;
}
.container {
  background: #7a6acd78;
  max-width: 100%;
  margin-bottom: 0;
}

.gloria {
  width: 450px;
  height: 450px;
  border-radius: 200px !important;
  margin: 0 auto !important;
  margin-left: 10px !important;
  padding: 20px !important;

}
.aboutpage{
  padding: 150px 20px;
}
.aboutpage-content{
  margin: 30px;
}

footer a {
  text-decoration: none;
  opacity: 0.7;
}
footer {
  margin: 60px 0;
}

.social-link a{
  margin: 10px;
  padding: 3px 8px;
 font-size: 28px;
 border-radius: 50%;
 color: var(--branding-color);
 background-color: var(--secondary-color);
 transition: all 100ms ease-in-out;
}
.social-link a:hover{
  color: white;
  background-color: var(--branding-color);
}
footer .contact-box{
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 12px;
  
}
h3{
  font-size:30px;
}
footer p{
  font-size: 24px;
  margin: 0;
}
footer .confidential{
  opacity: 0.7;
}
.aboutpage h2 {
  font-size: 20px;
  line-height: 60px;
  font-family: var(--second-heading-fontstyle);
}
.aboutpage h1 {
  font-size: 64px;
  line-height: 80px;
}
.aboutpage p {
  padding: 10px !important;
}
.mywork h1{
  font-size: 40px;
  font-family: var(--heading-fontstyle);
  line-height: 35px;
  margin: 20px 10px 2px 5px !important;
}
.work1 h3{
  font-family: var(--second-heading-fontstyle);
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}
.work1 img{
  border-radius: 30px !important;
}
.container3{
  max-width: 100%;
  margin: 10px;
 
}
.contact-content h3{
  font-family: var(--heading-fontstyle);
  font-weight: 500;
}
.contact-content p{
  font-size: 20px;
  font-family: var(--second-heading-fontstyle);
  font-weight: 400;
}
.contact-content h1{
font-size: 50px;
line-height: 1;
}
.contact-content p a{
font-size: 24px;
text-decoration: none;
color: #000;

}

.contact-content p a:hover{
  color: var(--branding-color);
}

@media (max-width: 900px) {
  h1{
    font-size: 44px;
    line-height: 2;
  }
  h2{
    font-size: 38px;
  }
  .hero{
    padding: 80px 20px;
  }
  .aboutpage{
    padding: 0;
  }
  .mywork h1{
  font-size: 24px;
  }
  .contact-content h1{
font-size: 30px;
}
.logo{
  max-height: 20px;
}
footer .btn{
  margin: 5px 0 !important;
  padding: 5px !important;
}
footer .contact-box{
  background-color: var(--secondary-color);
  padding: 10px 30px;
  border-radius: 12px;
  margin: 10px;
}
footer .contact-box h3{
  font-size: 20px;
}
footer .contact-box p{
  font-size: 15px;
}
}
